<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/partFlash/studentInfo.css}" />
<div class="main">
    <div>
        学生信息详情
    </div>
    <table>
        <thead>
        <tr>
            <td>姓名</td>
            <td>学号</td>
            <td>性别</td>
            <td>年龄</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <div th:object="${student}">
                <td><p th:text="${student.username}">姓名</p></td>
                <td><p th:text="${student.studentId}">学号</p></td>
                <td><p th:text="*{sex}">性别</p></td>
                <td><p th:text="*{age}">年龄</p></td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</html>